.App {
   text-align: center;
   background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1714169669744769658/F652EC51D44D6D8B739973059761498D73EC5944/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
   background-size:cover;
   padding-top: 0%;
   padding-left: 20%;
   padding-right: 20%;
   padding-bottom: 30%;
}
